<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Welcome</title>
    
</head>
<body>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-rd">
                    <div class="panel-heading bgc-outer-space">
                        <h1 class="mg-clear text-center tc-electric-green">
                            Bienvenido
                        </h1>
                        <a href="{% url 'salir' %}" class="btn btn-danger">Cerrar Sesion</a>
                    </div>
                    <a href="{% url 'listaclientes' %}" class="btn btn-primary btn-lg btn-block">Clientes</a>
                    <a href="{% url 'listarepuestos' %}" class="btn btn-primary btn-lg btn-block">Catalogo</a>
                    <a href="{% url 'vender' %}" class="btn btn-primary btn-lg btn-block">Ventas</a>
                    <a href="{% url 'listafabricas' %}" class="btn btn-primary btn-lg btn-block">Fabricas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</body>
</html>